:root {
  --font-family-titles: 'Luckiest Guy', 'Arial', cursive;
  --font-family-body: 'Raleway', 'Arial', sans-serif;
  --color-1: #FFE400;
  --col-gradient: linear-gradient(to right, #FF1497 0%, #f834a0 100%);
  --col-on-accent-1: #FF1497;
  --color-2: #FFE400;
  --col-on-accent-2: #0a1e2c;
  --color-3: #6a11cb;
}


h2 {
  font-family: var(--font-family-titles); 
  font-size: 1.25em;
  margin-top: 0;
  margin-left: 1.2em; 
  float: left;
  font-weight: 400;
}

h3 {
  float: left;  
  font-size: 1em;   
}

h4 {
  font-family: var(--font-family-titles);
  color: var(--color-1);
  
}

.artist-header {
  color: var(--color-1);
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-3);
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}

.artist-bio-box {
  margin-top: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bio-box-header {
  font-size: 1.25em;
 
}

.description {
  color: var(--color-3);
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 1.5em;
    float: left;
  }

  h3 {
    font-size: 1.25em;
    float: right;
  }

  .artist-header {
    display: grid;
    padding-left: 0.1em;
    padding-right: 0.25em;
  }

}

@media only screen and (min-width: 769px) {
  

  h2 {
    margin-left: 2.6rem;
    font-size: 2em; 
  }

  h4 {
    font-size: 1.25em;
  }

  p {
    font-size: 1em;
  }

}